.choice-form {
  padding: 0 24px;
  &__auth {
    display: flex;
    margin: 0 -24px;
    &-item {
      padding: 0 24px;
    }
  }
  &__actions {
    margin-top: 36px;
  }
  &__input {
    width: 100%;
  }
  &__item-title {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
  }
  &__radio {
    &-btn {
      width: 100%;
      box-sizing: border-box;
      &:not(:last-child) {
        margin-bottom: 8px;
      }
      .mat-radio-label {
        font-weight: 300;
        white-space: pre-wrap;
      }
    }
    &-wrapper {
      display: block;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
    &-error {
      color: red;
      display: block;
      font-size: 13px;
      padding: 12px 24px 0;
    }
  }
}
